# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.exe
WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.pdb
WindowsFormsApplication2/obj/Debug/WindowsFormsApplication2.Properties.Resources.resources
WindowsFormsApplication2/obj/Debug/WindowsFormsApplication2.pdb
WindowsFormsApplication2/obj/Debug/WindowsFormsApplication2.Form1.resources
WindowsFormsApplication2/obj/Debug/WindowsFormsApplication2.exe
WindowsFormsApplication2/obj/Debug/WindowsFormsApplication2.csproj.ResolveComReference.cache
WindowsFormsApplication2/obj/Debug/WindowsFormsApplication2.csproj.GenerateResource.Cache
WindowsFormsApplication2/obj/Debug/WindowsFormsApplication2.csproj.FileListAbsolute.txt
WindowsFormsApplication2/obj/Debug/Interop.Shell32.dll
WindowsFormsApplication2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.exe
